.workout-card {
    width: calc(100% - 40px); /* Set width to fit the screen with 20px margin on each side */
    margin: 20px; /* Add margin to the sides */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2), 0px 16px 32px rgba(0, 0, 0, 0.2);
  }
  
  .full-width {
    width: calc(100% - 200px); /* Adjust width to fit the screen with 16px margin on each side */
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
  }

  // workout-plans.component.scss

.full-width .mat-select-trigger {
    width: 100%;
  }
  