<!-- workout-plans.component.html -->

<mat-card class="workout-card">
    <mat-card-header>
      <div class="header-content">
        <mat-icon fontIcon="fitness_center"></mat-icon>
        <h2 class="header">Workout Plans</h2>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="actions">
        <mat-form-field class="full-width">
          <mat-select placeholder="Select Difficulty" [formControl]="difficultyControl">
            <mat-option value="Beginner">Beginner</mat-option>
            <mat-option value="Intermediate">Intermediate</mat-option>
            <mat-option value="Advanced">Advanced</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" disabled="{{difficultyControl.value == ''}}" (click)="getWorkoutPlans()">Get Workout Plans</button>
      </div>
      <div *ngFor=" let plan of workoutPlans">
        <mat-card class="workout-card">
          <mat-card-title>
            <h3 class="header">&nbsp;&nbsp;{{ plan.name }}</h3>
          </mat-card-title>
          <mat-card-content>
            <div *ngFor="let exercise of plan.elements">
              <p>{{ exercise.type }} - {{ exercise.distance }} km</p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
    
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="resetDefaults()">Reset Defaults</button>
    </mat-card-actions>
  </mat-card>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Workout Plan Name">    
    </mat-form-field>
    
    <mat-form-field>
      <input matInput formControlName="difficulty" placeholder="Difficulty">      
    </mat-form-field>
    <div formArrayName="elements">
      <div *ngFor="let element of elements.controls; let i=index" [formGroupName]="i">
        <mat-form-field>
          <input matInput formControlName="type" placeholder="Activity">
        </mat-form-field>
        <mat-form-field>
          <input type="number" matInput formControlName="distance" placeholder="Distance"> 
        </mat-form-field>   
      </div>
    </div>
  
    <button mat-button type="button" (click)="addItem()">Add Element</button><br>
  
    <button mat-button type="submit">Submit</button>
  </form>