.progress-card {
    width: 100%;
    max-width: 600px; /* Adjust max-width as needed */
    margin: 20px auto;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2), 0px 16px 32px rgba(0, 0, 0, 0.2);
  }
  
  .header-content {
    display: flex;
    align-items: center;
  }
  
  .header {
    margin-left: 10px;
  }
  
  .progress-info p {
    margin-bottom: 5px;
  }
  