<mat-card class="progress-card">
    <mat-card-header>
      <div class="header-content">
        <mat-icon fontIcon="trending_up"></mat-icon>
        <h2 class="header">Progress Tracking</h2>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="progress-info">
        <p>Goal Target: {{ progressData.GoalTarget }}</p>
        <p>Total Calories: {{ progressData.TotalCalories }}</p>
        <p>Difficulty: {{ progressData.Difficulty }}</p>
      </div>
    </mat-card-content>
  </mat-card>
  