<button mat-button (click)="logout()">Logout</button>
<mat-tab-group>
    <mat-tab label="Activity Logging">
        <app-activity-logs/>
    </mat-tab>
    <mat-tab label="Goal Setting">
        <app-goal-setting></app-goal-setting>
    </mat-tab>
    <mat-tab label="Progress Tracking">
        <app-progress-tracking></app-progress-tracking>
    </mat-tab>
    <mat-tab label="Workout Plan">
  <app-workout-plans></app-workout-plans>
        </mat-tab>
    <mat-tab label="Wearable Devices">
        <app-wearable-device></app-wearable-device>
        </mat-tab>
    <mat-tab label="Nutrition Tracking">
     <app-nutrition-tracking></app-nutrition-tracking>
        </mat-tab>
</mat-tab-group>
